# OpenPantheon: the pantheon for Education
# Copyright (C) 2022 Learning Planet Institute
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
[flake8]
exclude =
    # There's no value in checking cache directories
    __pycache__,
    .venv,
    __init__.py,
    .mypy_cache,
    .pytest_cache,
    app/core,
    app/tests
ignore =
    # flake8-length is a bit nicer, cf. https://github.com/orsinium-labs/flake8-length#usage
    E501,
    W505,
    # Database models are often shadowing id for example
    A002,
    A003,
    # FastAPI is used that way
    B008
per-file-ignores =
    app/tests/*.py: S101, F811, F401
max-line-length = 120
max-doc-length = 120
