
body {
	font-size: 14px;
}

// Import Bulma's core
@import "../../../node_modules/bulma/sass/utilities/_all";

@font-face {
  font-family: ApfelGrotezk-Fett;
  src: url(../fonts/apfelgrotezk_fett.woff2);
}

// Set your colors
$primary: #61E987;
$scheme-main: #fcfcfd;
$scheme-main-bis: #202137;

$grey: #A5A5AE;

// $primary-light: findLightColor($primary);
// $primary-dark: findDarkColor($primary);
// $primary-invert: findColorInvert($primary);
// $twitter: #4099FF;
// $twitter-invert: findColorInvert($twitter);

// Fonts

$family-primary: Poppins, sans-serif;
$family-secondary: ApfelGrotezk-Fett, sans-serif;
$title-family: $family-secondary;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// // Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// // Navbar
$navbar-background-color: $scheme-main-bis;
$navbar-tab-active-border-bottom-width: 5px;
$navbar-item-color: $scheme-main;
$navbar-item-active-color: $scheme-main;
$navbar-item-hover-background-color: transparent;
$navbar-item-img-max-height: 3.5rem;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-background-color: $scheme-main-bis;
$navbar-padding-vertical: 1.5rem;

// Autocomplete

$dropdown-content-max-height: 500;

// // Tabs

// $tabs-boxed-link-active-background-color: $primary;
$tabs-link-active-color: $grey-dark;

// Cards

$card-radius: 0.75rem;

// .mdi {
//   	font-family: 'Material Icons';
// 	font-weight: normal;
// 	font-style: normal;
// 	font-size: 24px;
// 	line-height: 1;
// 	letter-spacing: normal;
// 	text-transform: none;
// 	display: inline-block;
// 	white-space: nowrap;
// 	word-wrap: normal;
// 	direction: ltr;
// 	-moz-font-feature-settings: 'liga';
// 	-moz-osx-font-smoothing: grayscale;
// }

// Import Bulma and Buefy styles
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/buefy/src/scss/buefy";

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 1rem;
  color: black;
  line-height: 48px;
  text-align: center;
  background: $primary;
}

.navbar {
    background: $scheme-main-bis url("../img/bubble/bubble@1,5x.svg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center;
	&-start {
		flex-grow: 0.2
	}
	.is-spaced {
		padding: 1.5rem 2rem;
	}
}

.has-half-width {
	max-width: 50%;
}