
// Import Bulma's core
@import "../../../node_modules/bulma/sass/utilities/_all";

// Set your colors
$primary: #61E987;
$scheme-main: #fcfcfd;
$scheme-main-bis: #202137;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Navbar
$navbar-tab-active-border-bottom-width: 5px;

// Tabs

$tabs-boxed-link-active-background-color: $primary;
$tabs-link-active-color: $grey-dark;

// Cards

$card-radius: 0.75rem;

// .mdi {
//   	font-family: 'Material Icons';
// 	font-weight: normal;
// 	font-style: normal;
// 	font-size: 24px;
// 	line-height: 1;
// 	letter-spacing: normal;
// 	text-transform: none;
// 	display: inline-block;
// 	white-space: nowrap;
// 	word-wrap: normal;
// 	direction: ltr;
// 	-moz-font-feature-settings: 'liga';
// 	-moz-osx-font-smoothing: grayscale;
// }

// Import Bulma and Buefy styles
@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/buefy/src/scss/buefy";